@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.RecipeDetail > .card {
  display: flex;
  border: none;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  .left {
    flex: 0 1 30%;
    background: #f8f8f8;
    border-right: 1px solid #eee;
    min-width: 250px;
    width: 100%;

    @include media-breakpoint-up(md) {
      min-width: 300px;
      width: auto;
    }

    .btn.start-cooking {
      position: relative !important;
      top: -25px;
      margin: 0 auto -50px;
      display: block;

      i {
        font-size: 24px;
        position: relative;
        top: 3px;
      }
    }

    .cooking-recipe,
    .stop-cooking {
      display: block;
      border: none;
      width: 100%;
      color: #fff;
      background: rgba(0, 0, 0, 0.38);
      text-align: center;
      padding: 10px 10px 11px;

      i {
        font-size: 18px;
        vertical-align: middle;
        margin-top: -3px;
      }
    }

    .stop-cooking {
      display: none;
      transition: opacity;
      transition-duration: 250ms;
      width: 100%;
      opacity: 0;
      i {
        margin-right: 4px;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }
    }

    .recipe-picture:hover {
      .cooking-recipe {
        display: none;
      }

      .stop-cooking {
        display: block;
        opacity: 1;
      }
    }
  }

  .pm-body {
    flex: 0 0.7 70%;

    .instructions {
      list-style-type: none;
      padding-left: 50px;
      margin: 0 0 30px;

      li {
        counter-increment: step-counter;
        margin-bottom: 25px;
        line-height: 1.5;
        font-size: 16px;
      }

      button.step {
        cursor: default;
        width: 32px;
        height: 32px;
        margin-right: 10px;
        margin-left: -47px;
        font-size: 16px;
        border: 1px solid $brand-primary;
        background-color: #fff;
        color: $brand-primary;
        padding: 2px 9px;
        border-radius: 50%;

        i {
          display: none;
        }
      }
    }
  }

  .timers {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 80px;
    right: 15px;

    .Timer {
      background: #333;
      border: none;
      border-radius: 2px;
      margin-bottom: 10px;
      padding: 0;

      @include z-depth-2dp();

      h2 {
        padding: 5px 10px 5px;
        margin-right: 0;
        font-size: 24px;
        color: white;
      }

      .progress {
        display: none;
      }

      .description {
        width: 100%;

        .contextual-description {
          width: 100%;
          border-top: 1px solid #222;
          font-size: 10px;
          color: white;
          padding: 3px 10px 7px;
          text-transform: capitalize;
        }

        .title {
          display: none;
        }
      }

      .actions {
        box-shadow: none;
        margin-right: 5px;

        button {
          background-color: #333;
          color: rgba(255, 255, 255, 0.3);
          padding: 2px 7px;
          box-shadow: none;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .recipe-picture {
    width: 100%;
    height: 250px;
    background-size: cover;
    // Source: https://www.freepik.com/free-vector/sketchy-kitchen-pattern_792937.htm
    background-image: url('/img/default-picture.png');
  }

  .btn-groceries {
    display: block;
    margin: 25px auto 0;
  }

  .pmb-block {
    margin-bottom: 20px;

    @media (min-width: 1200px) {
      padding: 40px 42px 0;
    }

    @media (max-width: 1199px) {
      padding: 30px 20px 0;
    }

    //@media (min-width: $screen-xs) {
    //  &:last-child {
    //    margin-bottom: 50px;
    //  }
    //}

    .pmbb-header {
      margin-bottom: 25px;
      position: relative;

      .actions {
        position: absolute;
        top: -2px;
        right: 0;
      }

      h2 {
        margin: 0;
        //font-weight: 100;
        font-size: 20px;
      }
    }

    .pmbb-edit {
      position: relative;
      z-index: 1;
      display: none;
    }

    .pmbb-edit,
    .pmbb-view {
      @include animated(fadeIn, 1000ms);
    }

    &.toggled {
      .pmbb-edit {
        display: block;
      }

      .pmbb-view {
        display: none;
      }
    }
  }

  .pmo-block {
    padding: 25px;

    & > h2 {
      font-size: 16px;
      margin: 0 0 15px;
    }
  }

  .pmo-items {
    .pmob-body {
      padding: 0 10px;
    }

    a {
      display: block;
      padding: 4px;

      img {
        width: 100%;
      }
    }
  }

  .tag {
    background-color: #efefef;
    border-radius: 13px;
    float: left;
    margin-right: 10px;
    padding: 3px 10px 4px;
  }
}

.MainLayout.cookmode .RecipeDetail {
  @include media-breakpoint-up(xl) {
    .left {
      flex: 0 1 50%;

      .recipe-picture {
        width: 40%;
        height: 100%;
        float: left;
      }

      .pmo-block {
        width: 60%;
        float: right;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .ingredients {
      font-size: 18px;
    }

    .instructions {
      font-size: 18px;
      padding-right: 80px;
    }

    .timers {
      display: block;
    }

    .start-cooking {
      display: none !important;
    }
  }
}